<%= form_for(@budget_item) do |f| %>
  <% if @budget_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@budget_item.errors.count, "error") %> prohibited this budget_item from being saved:</h2>

      <ul>
      <% @budget_item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :category %><br>
    <%= f.select :category, Transaction.category_list, {include_blank: 'Please Select'} %>
  </div>
  <div class="field">
    <%= f.label :amount %><br>
    <%= f.text_field :amount %>
  </div>
  <div class="field">
    <%= f.label :period %><br>
    <%= f.select :period, BudgetItem.period_list, {include_blank: 'Please Select'} %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
