<%= form_for(@budget_item) do |f| %>
  <% if @budget_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@budget_item.errors.count, "error") %> prohibited this budget_item from being saved:</h2>

      <ul>
      <% @budget_item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field" id="budget-type">
    <%= f.label :budget_type %><br>
    <%= f.select :budget_type, BudgetItem.budget_type, {include_blank: 'Please Select'} %>
  </div>

  <% @f = f %>
  <div class="field" id="budget-category">
  </div>

  <div class="field">
    <%= f.label :amount %><br>
    <%= f.text_field :amount %>
  </div>
  <div class="field">
    <%= f.label :period %><br>
    <%= f.select :period, BudgetItem.period_list, {include_blank: 'Please Select'} %>
  </div>
  <div class="field">
    <%= f.label :watch, "Watch?" %><br>
    <%= f.check_box :watch %>
  </div>
  <br>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>




<script>

jQuery(function(){

  $("#budget-type").change(function() {
    var selected_item = $( "#budget-type option:selected" ).text();

    switch (selected_item) {
      case 'Income':
        $('#budget-category').html("<%= j render 'category_income', f: @f %>");
        $('#budget-category').slideDown(350);
        break;
      case 'Expense':
        $('#budget-category').html("<%= j render 'category_expense', f: @f %>");
        $('#budget-category').slideDown(350);
        break;
      default:
        $('#budget-category').hide();
    }

  });

});

</script>