<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @checking_account.name %>
</p>

<p>
  <strong>Last4:</strong>
  <%= @checking_account.last4 %>
</p>

<p>
  <strong>Status:</strong>
  <%= @checking_account.status %>
</p>

<p>
  <strong>Balance:</strong>
  <%= @checking_account.balance %>
</p>

<%= link_to 'Edit', edit_checking_account_path(@checking_account) %> |
<%= link_to 'Back', checking_accounts_path %>
