<% if current_user.admin? %>

<div class="row">
  <div class="col-md-12">
    <div class="panel panel-danger">
      <div class="admin-header"><i class="fa fa-cog fa-spin"></i> User Administration</div>
      <div class="admin-body">

        Updated at: <%= DateTime.now.strftime("%d-%b-%Y %l:%M%P") %>

      </div>
    </div>
  </div>
</div>


<div class="row">
  <div class="col-lg-3 col-md-6">
      <div class="panel panel-danger">
          <div class="panel-heading">
              <div class="row">
                  <div class="col-xs-3">
                      <i class="fa fa-users fa-5x"></i>
                  </div>
                  <div class="col-xs-9 text-right">
                      <div class="huge"><%= @users.count %></div>
                      <div>Current Users</div>
                  </div>
              </div>
          </div>
          <a href="#" id="current-users">
              <div class="panel-footer">
                  <span class="pull-left">View Details</span>
                  <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                  <div class="clearfix"></div>
              </div>
          </a>
      </div>
  </div>

  <div class="col-lg-3 col-md-6">
      <div class="panel panel-danger">
          <div class="panel-heading">
              <div class="row">
                  <div class="col-xs-3">
                      <i class="fa fa-bank fa-5x"></i>
                  </div>
                  <div class="col-xs-9 text-right">
                      <div class="huge"><%= @users_accounts.count %></div>
                      <div>Users Accounts</div>
                  </div>
              </div>
          </div>
          <a href="#" id="current-users-accounts">
              <div class="panel-footer">
                  <span class="pull-left">View Details</span>
                  <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                  <div class="clearfix"></div>
              </div>
          </a>
      </div>
  </div>

  <div class="col-lg-3 col-md-6">
      <div class="panel panel-danger">
          <div class="panel-heading">
              <div class="row">
                  <div class="col-xs-3">
                      <i class="fa fa-dollar fa-5x"></i>
                  </div>
                  <div class="col-xs-9 text-right">
                      <div class="huge"><%= @users_transactions.count %></div>
                      <div>Users Transactions</div>
                  </div>
              </div>
          </div>
          <a href="#" id="users-transactions">
              <div class="panel-footer">
                  <span class="pull-left">View Details</span>
                  <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                  <div class="clearfix"></div>
              </div>
          </a>
      </div>
  </div>

  <div class="col-lg-3 col-md-6">
      <div class="panel panel-danger">
          <div class="panel-heading">
              <div class="row">
                  <div class="col-xs-3">
                      <i class="fa fa-cloud-upload fa-5x"></i>
                  </div>
                  <div class="col-xs-9 text-right">
                      <div class="huge"><%= @users_documents.count %></div>
                      <div>Users Documents</div>
                  </div>
              </div>
          </div>
          <a href="#" id="users-documents">
              <div class="panel-footer">
                  <span class="pull-left">View Details</span>
                  <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                  <div class="clearfix"></div>
              </div>
          </a>
      </div>
  </div>

</div>


<div class="row">
  <div class="col-md-12">
    <div class="panel panel-danger">
      <div class="panel-heading">Other</div>
      <div class="panel-body" >

        <a class="btn btn-danger" id="usage-logins" role="button">Login Usage Chart</a>
        <a class="btn btn-danger" id="users-login-history" role="button">Users Login History</a>



      </div>
    </div>
  </div>
</div>


<!-- Partials -->

<div class="row">
  <div id="admin-content-details" style="display:none;"></div>
</div>

<!-- End Partials -->

<% end %>


<!-- TEST -->
<script>

  $('#current-users').click(function() {
    $('#admin-content-details').html("<%= j (render 'users_details') %>");
    $('#admin-content-details').slideDown(350);
  });

  $('#current-users-accounts').click(function() {
    $('#admin-content-details').html("<%= j (render 'users_accounts') %>");
    $('#admin-content-details').slideDown(350);
  });

  $('#usage-logins').click(function() {
    $('#admin-content-details').html("<%= j (render 'usage_logins') %>");
    $('#admin-content-details').slideDown(350);
  });

  $('#users-transactions').click(function() {
    $('#admin-content-details').html("<%= j (render 'users_transactions') %>");
    $('#admin-content-details').slideDown(350);
  });

  $('#users-documents').click(function() {
    $('#admin-content-details').html("<%= j (render 'users_documents') %>");
    $('#admin-content-details').slideDown(350);
  });

  $('#users-login-history').click(function() {
    $('#admin-content-details').html("<%= j (render 'users_login_history') %>");
    $('#admin-content-details').slideDown(350);
  });

</script>