<% if current_user.admin? %>

<div class="row">
  <div class="col-md-12">
    <div class="panel panel-danger">
      <div class="admin-header"><i class="fa fa-cog fa-spin"></i> User Administration</div>
      <div class="admin-body">

        Updated at: <%= DateTime.now.strftime("%d-%b-%Y %H:%M%P") %>

      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-3 col-md-6">
      <div class="panel panel-danger">
          <div class="panel-heading">
              <div class="row">
                  <div class="col-xs-3">
                      <i class="fa fa-users fa-5x"></i>
                  </div>
                  <div class="col-xs-9 text-right">
                      <div class="huge"><%= @users.count %></div>
                      <div>Current Users</div>
                  </div>
              </div>
          </div>
          <a href="#">
              <div class="panel-footer">
                  <span class="pull-left">View Details</span>
                  <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                  <div class="clearfix"></div>
              </div>
          </a>
      </div>
  </div>

  <div class="col-lg-3 col-md-6">
      <div class="panel panel-danger">
          <div class="panel-heading">
              <div class="row">
                  <div class="col-xs-3">
                      <i class="fa fa-bank fa-5x"></i>
                  </div>
                  <div class="col-xs-9 text-right">
                      <div class="huge"><%= @users_accounts.count %></div>
                      <div>Users Accounts</div>
                  </div>
              </div>
          </div>
          <a href="#">
              <div class="panel-footer">
                  <span class="pull-left">View Details</span>
                  <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                  <div class="clearfix"></div>
              </div>
          </a>
      </div>
  </div>

  <div class="col-lg-3 col-md-6">
      <div class="panel panel-danger">
          <div class="panel-heading">
              <div class="row">
                  <div class="col-xs-3">
                      <i class="fa fa-dollar fa-5x"></i>
                  </div>
                  <div class="col-xs-9 text-right">
                      <div class="huge"><%= @users_transactions.count %></div>
                      <div>Users Transactions</div>
                  </div>
              </div>
          </div>
          <a href="#">
              <div class="panel-footer">
                  <span class="pull-left">View Details</span>
                  <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                  <div class="clearfix"></div>
              </div>
          </a>
      </div>
  </div>

  <div class="col-lg-3 col-md-6">
      <div class="panel panel-danger">
          <div class="panel-heading">
              <div class="row">
                  <div class="col-xs-3">
                      <i class="fa fa-cloud-upload fa-5x"></i>
                  </div>
                  <div class="col-xs-9 text-right">
                      <div class="huge"><%= @users_documents.count %></div>
                      <div>Users Documents</div>
                  </div>
              </div>
          </div>
          <a href="#">
              <div class="panel-footer">
                  <span class="pull-left">View Details</span>
                  <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                  <div class="clearfix"></div>
              </div>
          </a>
      </div>
  </div>

</div>


<div class="row">
  <div class="col-md-12">
    <div class="panel panel-danger">
      <div class="panel-heading">Administration</div>
      <div class="panel-body" >

<!-- some details -->

        <p>
          <%= link_to 'Admin Console', users_path, class: "btn btn-danger" %>
        </p>

      </div>
    </div>
  </div>
</div>

<% end %>