<%= form_for(@document,
            as: @document,
            url:
            @document.id ? account_transaction_document_path(@transaction, @document) : account_transaction_documents_path) do |f| %>
  <% if @document.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@document.errors.count, "error") %> prohibited this document from being saved:</h2>

      <ul>
      <% @document.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <strong>Uploaded Files</strong><br>
  <% if @documents_list != nil %>
    <% @documents_list.each do |document| %>
      <%#= link_to document.efile_identifier, document.efile_url %>
      <%= document.efile_identifier %><br>
    <% end %><br>
  <% end %>
  <div class="field">
    <%= f.label :document %><br>
    <%= f.file_field :efile %>
    <%= f.hidden_field :efile_cache %>
  </div>
  <div class="actions">
    <%= f.submit "Upload Document" %>
  </div>
<% end %>
