<%= form_for(@transaction, 
             as: :transaction,
             url: current_user_account_transaction_path(redirect_to: params[:redirect_to]),
             html: { multipart: true }) do |f| %>
  <% if @transaction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@transaction.errors.count, "error") %> prohibited this transaction from being saved:</h2>

      <ul>
      <% @transaction.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :interest_payment, value: 0 %>
  <%= f.hidden_field :principal_payment, value: 0 %>
  <%= f.hidden_field :payment_amount, value: 0 %>

  <div class="field">
    <%= f.label :transaction_type %><br>
    <%= @transaction.transaction_type %>
  </div>
  <div class="field">
    <%= f.label :amount %><br>
    <%= f.text_field :amount %>
  </div>
  <div class="field">
    <%= f.label :payee %><br>
    <%= @transaction.payee %>
  </div>
  <div class="field">
    <%= f.label :category %><br>
    <%= f.select :category, Transaction.category_list(current_user) %>
  </div>
  <div class="field">
    <%= f.label :comment %><br>
    <%= f.text_area :comment %>
  </div>
  <div class="field">
    <%= f.label :date %><br>
    <%= f.datetime_select :date, :order => [:day, :month, :year], :include_seconds => true %>
  </div><br>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
