<%= form_for(@transaction, 
             as: :transaction,
             url: current_user_account_transaction_path(redirect_to: params[:redirect_to]),
             html: { multipart: true }) do |f| %>
  <% if @transaction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@transaction.errors.count, "error") %> prohibited this transaction from being saved:</h2>

      <ul>
      <% @transaction.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :transaction_type %><br>
    <%= f.select :transaction_type, Transaction.transaction_type, {include_blank: 'Please Select'} %>
  </div>
  <div class="field">
    <%= f.label :amount %><br>
    <%= f.text_field :amount %>
  </div>
  <div class="field">
    <%= f.label :payee %><br>
    <%= f.text_field :payee %>
  </div>
  <div class="field">
    <%= f.label :category %><br>
    <%= f.select :category, Transaction.category_list(current_user), {include_blank: 'Please Select'} %>
  </div>
  <div class="field">
    <%= f.label :comment %><br>
    <%= f.text_area :comment %>
  </div>
  <div class="field">
    <%= f.label :date %><br>
    <%= f.date_select :date %>
  </div><br>

  <div class="field">
    <%= f.label :documents %><br>

    <br><label>Uploaded documents:</label>
    <ul>
    <% @transaction.documents.each_with_index do |document, index| %>
      <li>
        <%= link_to URI(document.url).path.split('/').last, document.url %>
        <%= check_box_tag "transaction[remove_document][#{index}]" %>Remove
      </li>
    <% end %>
    </ul>

    <label>
      <%= f.check_box :remove_documents %>
      Remove documents
    </label>

    <br><label>Add documents:</label>
    <%= f.file_field :documents, multiple: true %>
    <%= f.hidden_field :documents_cache %>
    
  </div><br>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
