<%= form_for(@transaction, 
             as: :transaction,
             url: current_user_account_transaction_path(redirect_to: params[:redirect_to]),
             html: { multipart: true }) do |f| %>
  <% if @transaction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@transaction.errors.count, "error") %> prohibited this transaction from being saved:</h2>

      <ul>
      <% @transaction.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <h3>Charge</h3>

    <%= f.hidden_field :interest_payment, value: number_to_currency(0) %>
    <%= f.hidden_field :principal_payment, value: number_to_currency(0) %>
    <%= f.hidden_field :minimum_payment, value: number_to_currency(0) %>
    <%= f.hidden_field :payment_amount, value: number_to_currency(0) %>
    <%= f.hidden_field :transaction_type, value: 'Deposit' %>

  <div class="form-group">
    <%= f.label :amount %><br>
    <%= f.text_field :amount, :value => number_to_currency(0), class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :payee %><br>
    <%= f.text_field :payee, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :category %><br>
    <%= f.select :category, Transaction.withdrawal_category_list(current_user), {include_blank: 'Please Select'}, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :comment %><br>
    <%= f.text_area :comment, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :date %><br>
    <%= f.datetime_select :date, :order => [:day, :month, :year], :include_seconds => true, class: 'form-control' %>
  </div><br>
  <div style="text-align: right">
    <%= f.submit class: "btn btn-primary" %>
  </div>
<% end %>
