
<% if @account.class.superclass.name == "Liability" %>

    <div class="form-group" id="transaction-type">
      <label>Transaction Type</label>
        <select class='form-control'>
            <option value="" disabled selected>Please Select</option>
            <option value="Liability-Charge">Charge</option>
            <option value="Liability-Payment">Payment</option>
        </select>
    </div>

    <div id="transaction-form-by-type"></div>

<% else %><!-- Assets -->

    <div class="form-group" id="transaction-type">
      <label>Transaction Type</label>
      <select class='form-control'>
          <option value="" disabled selected>Please Select</option>
          <option value="Deposit">Deposit</option>
          <option value="Withdrawal">Withdrawal</option>
          <option value="Transfer">Transfer</option>
          <option value="Payment">Payment</option>
      </select>
    </div>

    <div id="transaction-form-by-type"></div>

<% end %>





<!-- TEST -->
<script>


jQuery(function(){

  $("#transaction-type").change(function() {
    var selected_item = $( "#transaction-type option:selected" ).val();
// console.log(selected_item);


      switch (selected_item) {
        case 'Deposit':
          $('#transaction-form-by-type').html("<%= j render 'deposit' %>");
          $('#transaction-form-by-type').slideDown(350);
          break;
        case 'Withdrawal':
          $('#transaction-form-by-type').html("<%= j render 'withdrawal' %>");
          $('#transaction-form-by-type').slideDown(350);
          break;
        case 'Liability-Charge':
          $('#transaction-form-by-type').html("<%= j render 'liability_deposit' %>");
          $('#transaction-form-by-type').slideDown(350);
          break;
        case 'Liability-Payment':
          $('#transaction-form-by-type').html("<%= j render 'liability_withdrawal' %>");
          $('#transaction-form-by-type').slideDown(350);
          break;
        case 'Payment':
          $('#transaction-form-by-type').html("<%= j render 'payment' %>");
          $('#transaction-form-by-type').slideDown(350);
          break;
        case 'Transfer':
          $('#transaction-form-by-type').html("<%= j render 'transfer' %>");
          $('#transaction-form-by-type').slideDown(350);
          break;
        default:
          $('#transaction-form-by-type').html("<br>" + "Contact support, an error has occurred");
          $('#transaction-form-by-type').slideDown(350);
      }

  });

});

</script>