
  <%= f.hidden_field :interest_payment, value: number_to_currency(0) %>
  <%= f.hidden_field :principal_payment, value: number_to_currency(0) %> 

  <div class="form-group">
    <%= f.label :payment_amount, "Additional to minimum payment " %><br>
    <%= f.text_field :payment_amount, value: number_to_currency(0), class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :category %><br>
    <%= f.select :category, Transaction.payment_category_list, {include_blank: 'Please Select'}, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :comment %><br>
    <%= f.text_area :comment, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :date %><br>
    <%= f.datetime_select :date, :order => [:day, :month, :year], :include_seconds => true, class: 'form-control' %>
  </div>
  <div style="text-align: right">
    <%= f.submit class: "btn btn-primary" %>
  </div>