<%= form_for(@transaction, 
             as: :transaction,
             url: 
             @transaction.id ? account_transaction_path(@account, @transaction) : account_transactions_path) do |f| %>
  <% if @transaction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@transaction.errors.count, "error") %> prohibited this transaction from being saved:</h2>

      <ul>
      <% @transaction.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :amount, :id => "min-payment-field-hidden" %>
  <%= f.hidden_field :transaction_type, :value =>'Payment' %>
  <%= f.hidden_field :from_account_id, :value => @account.id %>
  <%= f.hidden_field :payee, value: @transaction.account.name %>
  <!-- transfer ref set to zero to identify as type of transfer in models before_save action -->
  <%= f.hidden_field :transfer_ref, value: 0 %>

  <div class="field" id="payment-to-account">
  <%= f.label 'Payment To:' %><br>
      <%= f.collection_select :to_account_id, Account.liability_account_payment_list(current_user, @account), :id, :account_details, {include_blank: 'Please Select'} %>
  </div>

<!-- 
In order to have the correct information viewable to user and
submitted for the payment_to account, all relevent information needs to be
stored in array during original controller action (new transaction), otherwise 
i would need to figure out how to do ajax call on portion of controller action 
or create different controller action and change how all deposit, withdrwal, 
transfer, and payments are rendered. Since the first 3 were rendered correctly, 
i went with this method to make payments work correctly without having to change 
how deposit, withdrwal and transfers worked.

So the payment_to account pull the needed information into array:
    @liability_accounts_payment_list_minimum_payments = 
      minimum_payment + minimum_escrow_payment 
and call them by their index since they are collected in same order as 
accounts listed in dropdown menu.
-->

  <%# @payment_list_ids = @liability_account_payment_list_account_ids %>
  <% @f = f %>

  <div>
    <%= f.label "Minimum Payment" %>
    <div id="min-payment-field"></div>
  </div>

  <div id="to-account-form" style="display:none;"></div>

<% end %>




<!-- TEST -->
<script>

jQuery(function(){

  $("#payment-to-account").change(function() {
    var selected_item = $( "#payment-to-account option:selected" ).text();
    var selected_item_index = $( "#payment-to-account option:selected" ).index(); 
    //looks for something in parentheses followed by space moneysign " $"
    var regExp = /\(([^)]+)\)\s\$/;
    var matches = regExp.exec(selected_item);

    // array of minimum payments from accounts in list converted from ruby to js
    var min_payments = <%= raw Account.liability_accounts_payment_list_minimum_payments(current_user, @account) %>;
    // set the js variable to the appropriate minimum payment
    var selected_account_min_payment = min_payments[selected_item_index-1];

    if (selected_item_index < 1) {
      $('#to-account-form').hide();
      $("#min-payment-field").hide();
    }
    else {

      switch (matches[1]) {
        case 'Mortgage':
          $('#to-account-form').html("<%= j render 'payment_to_mortgage', f: @f %>");

          $("#min-payment-field-hidden").val(selected_account_min_payment);
          $("#min-payment-field").html(selected_account_min_payment);

          $('#to-account-form').slideDown(350);
          break;
        case 'PersonalLoan':
        case 'CreditCard':
        case 'StudentLoan':
        case 'OtherLiability':
          $('#to-account-form').html("<%= j render 'payment_to_all_other_liabilities', f: @f %>");

          $("#min-payment-field-hidden").val(selected_account_min_payment);
          $("#min-payment-field").html(selected_account_min_payment);

          $('#to-account-form').slideDown(350);
          break;
        default:
          $('#to-account-form').html("<br>" + "Contact support, an error has occurred");
          $('#to-account-form').slideDown(350);
      }

    }

  });

});

</script>