<%= form_for(@transaction, 
             as: :transaction,
             url: 
             @transaction.id ? account_transaction_path(@account, @transaction) : account_transactions_path) do |f| %>
  <% if @transaction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@transaction.errors.count, "error") %> prohibited this transaction from being saved:</h2>

      <ul>
      <% @transaction.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <%= f.hidden_field :transaction_type, :value =>'Transfer' %>
    <%= f.hidden_field :from_account_id, :value => @account.id %>

    <%= f.hidden_field :interest_payment, value: number_to_currency(0) %>
    <%= f.hidden_field :principal_payment, value: number_to_currency(0) %>
    <%= f.hidden_field :payment_amount, value: number_to_currency(0) %>

  <div class="field" id="payment-to-account">
  <%= f.label 'Payment To:' %><br>
  <!-- Handle nil case -->
    <% if @asset_account_transfer_list != nil %>
      <%= f.collection_select :to_account_id, @asset_account_transfer_list, :id, :account_details, {include_blank: 'Please Select'} %>
    <% else %>
      <%= "Error" %>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :amount %><br>
    <%= f.text_field :amount %>
  </div>
  <div class="field">
    <%= f.label :category %><br>
    <%= f.select :category, Transaction.transfer_category_list, {include_blank: 'Please Select'} %>
  </div>
  <div class="field">
    <%= f.label :comment %><br>
    <%= f.text_area :comment %>
  </div>
  <div class="field">
    <%= f.label :date %><br>
    <%= f.datetime_select :date, :order => [:day, :month, :year], :include_seconds => true %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
