<div class="row visible-sm-block visible-md-block visible-lg-block">
  <div class="col-md-12">
    <div class="panel panel-primary">
      <div class="panel-heading panels-text">
        <%= "(#{@account.type})-#{@account.name} #{@account.last4} " %><%= link_to "Edit", account_path(@account.id), title: 'Edit Account' %>
      </div>
      <div class="panel-body">
        <table id="transactions" class="transactions-for-checking table table-striped table-hover table-condensed">
          <thead>
            <tr>
              <th>Date</th>
              <th>Payee</th>
              <th>Category</th>
              <th>Comment</th>
              <th>Charge</th> <!-- is deposit -->
              <th>Payment</th>
              <th>Balance</th>
              <th>Uploads</th>
              <th></th> <!-- added these to get past DataTables js error -->
              <th></th> <!-- added these to get past DataTables js error -->
              <th></th> <!-- added these to get past DataTables js error -->
            </tr>
          </thead>

          <tbody>
            <% transactions.each do |transaction| %>
              <tr>
                <td><%= transaction.date.to_date %></td>
                <td><%= transaction.payee %></td>
                <td><%= transaction.category %></td> <!-- transction category -->
                <td><%= truncate(transaction.comment) %></td> <!-- transction comment -->

                <% if transaction.transaction_type == 'Deposit' %> <!-- charge is deposit -->
                  <td><%= number_to_currency(transaction.applied_amount) %></td> <!-- transction deposit -->
                  <td><%= "" %></td> <!-- transction withdrawal -->
                <% end %>
                <% if transaction.transaction_type == 'Withdrawal' %> <!-- payment is withdrawal -->
                  <td><%= "" %></td> <!-- transction deposit -->
                  <td><%= number_to_currency(transaction.applied_amount) %></td> <!-- transction withdrawal -->
                <% end %>

                <td><%= number_to_currency(transaction.new_balance) %></td>

                <% if transaction.documents.count > 0 %>
                <td><%= link_to transaction.documents.count, account_transaction_path(transaction.account, transaction) %> </td>
                <% else %>
                <td>none</td>
                <% end %>

                <td><%= link_to 'Show', account_transaction_path(transaction.account, transaction) %></td>
                <% if transaction.transfer_ref != nil %>
                <td>Delete Only</td>
                <% else %>
                <td><%= link_to 'Edit', edit_account_transaction_path(transaction.account, transaction) %></td>
                <% end %>
                <td><%= link_to 'Destroy', account_transaction_path(transaction.account, transaction), method: :delete, data: { confirm: 'Are you sure?' } %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div> 

<!-- Mobile -->
<div class="row visible-xs-block">
  <div class="col-md-12">

    <div class="panel-primary">
      <% transactions.each_with_index do |transaction, i| %>
        <table class="table table-striped">
        <tbody>
          <tr style="background: black"><td></td><td><%= "" %></td></tr>
          <tr><td>Date</td><td><%= "#{transaction.date.to_date}" %></td></tr>
          <tr><td>Payee</td><td><%= truncate(transaction.payee, length: 17) %></td></tr>
          <tr><td>Category</td><td><%= truncate(transaction.category, length: 17) %></td></tr>
          <tr><td>Comment</td><td><%= truncate(transaction.comment, length: 17) %></td></tr>
            
          <% if transaction.transaction_type == 'Deposit' %> <!-- charge is deposit -->
            <tr><td>Charge</td><td><%= number_to_currency(transaction.applied_amount) %></td></tr>
            <tr><td>Payment</td><td><%= "" %></td></tr>
          <% end %>
          <% if transaction.transaction_type == 'Withdrawal' %> <!-- payment is withdrawal -->
            <tr><td>Charge</td><td><%= "" %></td></tr>
            <tr><td>Payment</td><td><%= number_to_currency(transaction.applied_amount) %></td></tr>
          <% end %>

          <tr><td>Balance</td><td><%= number_to_currency(transaction.new_balance) %></td></tr>
          <tr><td>Uploads</td>
            <% if transaction.documents.count > 0 %>
            <td><%= link_to transaction.documents.count, account_transaction_path(transaction.account, transaction) %> </td>
            <% else %>
            <td>none</td>
            <% end %>
          </tr>
          
          <tr>
            <td><%= link_to 'Show', account_transaction_path(transaction.account, transaction) %></td>
            <td></td>
          </tr>
          <% if transaction.transfer_ref != nil %>
            <tr>
              <td>Delete Only</td>
              <td></td>
            </tr>
          <% else %>
            <tr>
              <td><%= link_to 'Edit', edit_account_transaction_path(transaction.account, transaction) %></td>
              <td></td>
            </tr>
          <% end %>
            <tr>
              <td><%= link_to 'Destroy', account_transaction_path(transaction.account, transaction), method: :delete, data: { confirm: 'Are you sure?' } %></td>
              <td></td>
            </tr>
        </tbody>
        </table>
      <% end %>
    </div>

  </div>
</div>
<!-- End Mobile -->
