<%= form_for(@transaction, 
             as: :transaction,
             url: 
             @transaction.id ? account_transaction_path(@account, @transaction) : account_transactions_path) do |f| %>
  <% if @transaction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@transaction.errors.count, "error") %> prohibited this transaction from being saved:</h2>

      <ul>
      <% @transaction.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <%= f.hidden_field :transaction_type, :value =>'Withdrawal' %>

    <%= f.hidden_field :interest_payment, value: number_to_currency(0) %>
    <%= f.hidden_field :principal_payment, value: number_to_currency(0) %>
    <%#= f.hidden_field :amount, value: number_to_currency(0) %>
    <%= f.hidden_field :payment_amount, value: number_to_currency(0) %>


  <div class="field">
    <%= f.label :amount, "Withdrawal Amount" %><br>
    <%= f.text_field :amount %>
  </div>
  <div class="field">
    <%= f.label :payee %><br>
    <%= f.text_field :payee %>
  </div>
  <div class="field">
    <%= f.label :category %><br>
    <%= f.select :category, Transaction.withdrawal_category_list(current_user), {include_blank: 'Please Select'} %>
  </div>
  <div class="field">
    <%= f.label :comment %><br>
    <%= f.text_area :comment %>
  </div>
  <div class="field">
    <%= f.label :date %><br>
    <%= f.datetime_select :date, :order => [:day, :month, :year], :include_seconds => true %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
