<p id="notice"><%= notice %></p>
<%= link_to 'New Transaction', new_account_transaction_path(account_id: params[:account_id]) %>
<div class="row visible-sm-block visible-md-block visible-lg-block">
  <div class="col-md-12">
    <div class="panel panel-primary">
      <div class="panel-heading panels-text">
        <%= "(#{@account.type})-#{@account.name} #{@account.last4} " %><%= link_to "Edit", account_path(@account.id), title: 'Edit Account' %>
      </div>
      <div class="panel-body">
        <% begin %>
          <%= render "transactions_for_#{@account.type.underscore}", transactions: @transactions %>
        <% rescue %>
          <%= render "transactions", transactions: @transactions %>
        <% end %>

      </div>
    </div>
  </div>
</div> 

<!-- Mobile -->
<% @transactions.each_with_index do |transaction, i| %>
  <table class="visible-xs-block table table-striped">
  <tbody>
    <tr><td>Date</td><td><%= "#{transaction.date.to_date}" %></td></tr>
    <tr><td>Check#</td><td><%= "temp" %></td></tr>
    <tr><td>Payee</td><td><%= transaction.payee %></td></tr>
    <tr><td>Category</td><td><%= transaction.category %></td></tr>
    <tr><td>Comment</td><td><%= truncate(transaction.comment) %></td></tr>
    <tr><td>Withdrawal</td><td><%= "temp" %></td></tr>
    <tr><td>Deposit</td><td><%= "temp" %></td></tr>
    <tr><td>Balance</td><td><%= "temp" %></td></tr>
    <tr>
      <td><%= link_to 'Show', account_transaction_path(transaction.account, transaction) %></td>
      <% if transaction.transfer_ref != nil %>
      <td>Delete Only</td>
      <% else %>
      <td><%= link_to 'Edit', edit_account_transaction_path(transaction.account, transaction) %></td>
      <% end %>
      <td><%= link_to 'Destroy', account_transaction_path(transaction.account, transaction), method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  </tbody>
  </table>
<% end %>
<!-- End Mobile -->

<br>

<script>
  $(document).ready(function() {
    $('#transactions').dataTable();
  } );

</script>