<p id="notice"><%= notice %></p>

<h1>**TODO**</h1>
Need to make link to all other fields
<br>
Need to add feature for deposit, withdrwal, and transfer
<h1>**TODO**</h1>

<h2><%= link_to "#{@account.name} #{@account.last4}", account_path(@account.id), title: 'Edit Account' %><%= "-(#{@account.type}) Transactions" %></h2>

<!-- new code tables -->

<table class="visible-sm-block visible-md-block visible-lg-block table table-striped">
  <thead>
    <tr>
      <th>Date</th>
      <th>Check#</th>
      <th>For</th>
      <th>Category</th>
      <th>Comment</th>
      <th>Deposit</th>
      <th>Withdrawal</th>
      <th>Balance</th>
    </tr>
  </thead>

  <tbody>
    <% @transactions.each do |transaction| %>
      <tr>
        <td><%= transaction.date %></td>
        <td><%= "temp" %></td> <!-- transction check# -->
        <td><%= transaction.for %></td>
        <td><%= "temp" %></td> <!-- transction category -->
        <td><%= truncate(transaction.comment) %></td> <!-- transction comment -->

        <% if transaction.transaction_type == 'Deposit' %>
          <td><%= transaction.amount %></td> <!-- transction deposit -->
          <td><%= "" %></td> <!-- transction withdrawal -->
        <% end %>
        <% if transaction.transaction_type == 'Withdrawal' %>
          <td><%= "" %></td> <!-- transction deposit -->
          <td><%= transaction.amount * -1 %></td> <!-- transction withdrawal -->
        <% end %>

        <td><%= "temp" %></td> <!-- transction new balance -->
        <td><%= link_to 'Show', account_transaction_path(transaction.account, transaction) %></td>
        <td><%= link_to 'Edit', edit_account_transaction_path(transaction.account, transaction) %></td>
        <td><%= link_to 'Destroy', account_transaction_path(transaction.account, transaction), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<!-- Mobile -->
<% @transactions.each_with_index do |transaction, i| %>
  <table class="visible-xs-block table table-striped">
  <tbody>
    <tr><td>Date</td><td><%= "#{transaction.date}" %></td></tr>
    <tr><td>Check#</td><td><%= "temp" %></td></tr>
    <tr><td>For</td><td><%= transaction.for %></td></tr>
    <tr><td>Category</td><td><%= "temp" %></td></tr>
    <tr><td>Comment</td><td><%= truncate(transaction.comment) %></td></tr>
    <tr><td>Withdrawal</td><td><%= "temp" %></td></tr>
    <tr><td>Deposit</td><td><%= "temp" %></td></tr>
    <tr><td>Balance</td><td><%= "temp" %></td></tr>
    <tr>
      <td><%= link_to 'Show', account_transaction_path(transaction.account, transaction) %></td>
      <td><%= link_to 'Edit', edit_account_transaction_path(transaction.account, transaction) %></td>
      <td><%= link_to 'Destroy', account_transaction_path(transaction.account, transaction), method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  </tbody>
  </table>
<% end %>
<!-- End Mobile -->
<!-- end new tables code -->

<br>

<%= link_to 'New Transaction', new_account_transaction_path(account_id: params[:account_id]) %>
