<h4>New Transaction, <%= "#{@account.name} #{@account.last4} (#{@account.type}) Balance: #{number_to_currency(@account.balance_cents * 0.01)}" %></h4>

<ul class="nav nav-tabs">
  <li class="active"><a data-toggle="tab" href="#home">Home</a></li>
  <li><a data-toggle="tab" href="#deposit">Deposit</a></li>
  <li><a data-toggle="tab" href="#withdrawal">Withdrawal</a></li>
  <li><a data-toggle="tab" href="#transfer">Transfer</a></li>
</ul>

<div class="tab-content">
  <div id="home" class="tab-pane fade in active">
    <h4>HOME</h4>
    <p>Choose a transaction. or list transacions here?</p>
  </div>
  <div id="deposit" class="tab-pane fade">
    <h3>Deposit</h3>
    <%= render 'deposit' %>
  </div>
  <div id="withdrawal" class="tab-pane fade">
    <h3>Withdrawal</h3>
    <%= render 'withdrawal' %>
  </div>
  <div id="transfer" class="tab-pane fade">
    <h3>Transfer</h3>
    <%= render 'transfer' %>
  </div>
</div>

<br>
<br>

<%= link_to 'Back', account_transactions_path(account_id: params[:account_id]) %>