<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @transaction.date %>
</p>

<p>
  <strong>Payee:</strong>
  <%= @transaction.payee %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @transaction.comment %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @transaction.amount %>
</p>

<%= link_to 'Edit', edit_account_transaction_path(account_id: params[:account_id], id: params[:id]) %> |
<%= link_to 'Back', account_transactions_path(account_id: params[:account_id]) %>
