<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @transaction.date %>
</p>

<p>
  <strong>Payee:</strong>
  <%= @transaction.payee %>
</p>

<p>
  <strong>Category:</strong>
  <%= @transaction.category %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @transaction.comment %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @transaction.amount %>
</p>

<p>
  <strong>Uploaded Documents: </strong><%= link_to 'New Document', new_account_transaction_document_path(transaction_id: @transaction.id) %>
  <% if @transaction.documents.count > 0 %>

    <table>
      <tbody>
        <strong>Documents for this transaction: </strong>
        <% @transaction.documents.each do |document| %>
          <% if document.efile_url != nil %>
            <tr>
              <td><%= link_to 'Destroy', account_transaction_document_path(@account.id, @transaction.id, document.id), method: :delete, data: { confirm: 'Are you sure?' } %> | <%= link_to document.efile_identifier, document.efile_url %></td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>

  <% else %>
    <br>None
  <% end %>
</p>

<%= link_to 'Edit', edit_account_transaction_path(account_id: params[:account_id], id: params[:id]) %> |
<%= link_to 'Back', params[:redirect_to] || account_transactions_path(account_id: params[:account_id]) %>
