<!DOCTYPE html>
<html>
  <head>
    <title>Finance</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag "http://www.google.com/jsapi", "chartkick" %>

    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>

    <% if user_signed_in? %>
      <%= render 'layouts/signed_in' %>
    <% else %>
      <%= render 'layouts/not_signed_in' %>
    <% end %>

    <!-- flash messages with bootstrap -->
    <div class="col-md-12">
      <%= render 'layouts/messages' %>
    </div>
    <!-- flash messages with bootstrap -->

    <div class="container-fluid">
     <%= yield %>
    </div>


    <footer id="footer" style="text-align: center; padding-bottom: 4px;">
      <p>
        &copy; J Travis Lindsey<br>
        MyMoneyOnTheGo.com 2015
      </p>
    </footer>

  </body>
</html>

<script>

  $(document).ready(function() {

   var docHeight = $(window).height();
   var footerHeight = $('#footer').height() +15;
   var footerTop = $('#footer').position().top + footerHeight;

   if (footerTop < docHeight) {
    $('#footer').css('margin-top', 10+ (docHeight - footerTop) + 'px');
   }
  });
 </script>