<!DOCTYPE html>
<html>
<head>
  <title>Finance</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<% if notice.present? %>
  <p class="notice"><%= notice %></p>
<% end %> 
<% if alert.present? %>
  <p class="alert"><%= alert %></p>  
<% end %>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to 'Rails Finance', accounts_path, class: "navbar-brand" %>

    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <%= nav_link "Options", "/options" %>
        <%= nav_link "Budget", "/budget_show_all" %>
        <%= nav_link "All Accounts", "/list_accounts" %>
        <%= nav_link "New Account", "/accounts/new" %>
      </ul>
      <% if user_signed_in? %>
        <ul class="nav navbar-nav navbar-right">
          <li class="user-welcome"><%= nav_link current_user.email, "/" %></li>
          <li>
          <%= link_to 'Logout', destroy_user_session_path(current_user), method: :delete, class: "btn btn-inverse navbar-btn" %>
          </li>
        </ul>
      <% end %>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="container-fluid">
 <%= yield %>
</div>

</body>
</html>
