<!--Kept for historical reason until we're set on whether we'll keep things duplicated 
or unify them again across new and edit  -->
<!--   <%= hidden_field_tag 'account_fields', Account.types_fields.to_json, id: 'account_fields' %>
  <%= hidden_field_tag 'account_errors', @account.errors.to_json, id: 'account_errors' %>

  <% if @account.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@account.errors.count, "error") %> prohibited this account from being saved:</h2>

      <ul>
      <% @account.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :type %><br>
    <%= f.select :type, Account.types %>
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :last4 %><br>
    <%= f.text_field :last4 %>
  </div>
  <% if @account.persisted? %>
    <div class="field">
      <%= f.label :status %><br>
      <%= f.select :status, Asset.statuses %>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :balance %><br>
    <%= f.text_field :balance, value: number_to_currency(@account.balance) %>
  </div>
  <div class="field">
    <%= f.label :credit_limit %><br>
    <%= f.text_field :credit_limit %>
  </div>
  <div class="field">
    <%= f.label :interest_rate %><br>
    <%= f.text_field :interest_rate %>
  </div>


 -->