<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Panel that only shows if budget is present</h3>
  </div>
  <div class="panel-body">
    Budget charts and graphs for watch items
  </div>
</div>

<div class="row"> <!-- Assets -->

  <%= render 'accounts', accounts: @checking + @checking + @checking, account_name: "Checking" %>
  <%= render 'accounts', accounts: @saving, account_name: "Saving" %>
  <%= render 'accounts', accounts: @escrow, account_name: "Escrow" %>
  <%= render 'accounts', accounts: @escrow, account_name: "Escrow" %>
  <%= render 'accounts', accounts: @cash, account_name: "Cash" %>
  <%= render 'accounts', accounts: @other_assets, account_name: "Other Asset" %>
  <%= render 'accounts', accounts: @credit_card, account_name: "Credit Card" %>
  <%= render 'accounts', accounts: @student_loan, account_name: "Student Loan" %>
  <%= render 'accounts', accounts: @personal_loan, account_name: "Personal Loan" %>
  <%= render 'accounts', accounts: @other_liability, account_name: "Other Liability" %>

</div>