<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Panel that only shows if budget is present</h3>
  </div>
  <div class="panel-body">
    Budget charts and graphs for watch items
  </div>
</div>

<div class="row"> <!-- Assets -->

  <% if @checking.size > 0 %>
    <div class="col-md-4">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title"><%= "#{pluralize(@checking.size, 'Checking')} " %><%= link_to "(all)", list_accounts_path %></h3>
        </div>
        <div class="panel-body">
          <table class="table table-striped">
            <tbody>
              <% @checking.each do |checking| %>
                <% if checking.status == 'Open' %>
                  <tr>
                    <td><%= "#{checking.name} #{checking.last4} | #{number_to_currency(checking.balance)}" %></td>
                  </tr>
                <% end %>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  <% end %>

  <% if @saving.size > 0 %>
    <div class="col-md-4">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title"><%= "#{pluralize(@saving.size, 'Saving')} " %><%= link_to "(all)", list_accounts_path %></h3>
        </div>
        <div class="panel-body">
          <table class="table table-striped">
            <tbody>
              <% @saving.each do |saving| %>
                <% if saving.status == 'Open' %>
                  <tr>
                    <td><%= "#{saving.name} #{saving.last4} | #{number_to_currency(saving.balance)}" %></td>
                  </tr>
                <% end %>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  <% end %>

  <% if @escrow.size > 0 %>
    <div class="col-md-4">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title"><%= "#{pluralize(@escrow.size, 'Escrow')} " %><%= link_to "(all)", list_accounts_path %></h3>
        </div>
        <div class="panel-body">
          <table class="table table-striped">
            <tbody>
              <% @escrow.each do |escrow| %>
                <% if escrow.status == 'Open' %>
                  <tr>
                    <td><%= "#{escrow.name} #{escrow.last4} | #{number_to_currency(escrow.balance)}" %></td>
                  </tr>
                <% end %>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  <% end %>

  <% if @cash.size > 0 %>
    <div class="col-md-4">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title"><%= "#{pluralize(@cash.size, 'Cash')} " %><%= link_to "(all)", list_accounts_path %></h3>
        </div>
        <div class="panel-body">
          <table class="table table-striped">
            <tbody>
              <% @cash.each do |cash| %>
                <% if cash.status == 'Open' %>
                  <tr>
                    <td><%= "#{cash.name} #{cash.last4} | #{number_to_currency(cash.balance)}" %></td>
                  </tr>
                <% end %>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  <% end %>

  <% if @other_assets.size > 0 %>
    <div class="col-md-4">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title"><%= "#{pluralize(@other_assets.size, 'Other Asset')} " %><%= link_to "(all)", list_accounts_path %></h3>
        </div>
        <div class="panel-body">
          <table class="table table-striped">
            <tbody>
              <% @other_assets.each do |other_asset| %>
                <% if other_asset.status == 'Open' %>
                  <tr>
                    <td><%= "#{other_asset.name} #{other_asset.last4} | #{number_to_currency(other_asset.balance)}" %></td>
                  </tr>
                <% end %>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  <% end %> 

</div>
<hr>
<div class="row"> <!-- Liability -->

  <% if @credit_card.size > 0 %>
    <div class="col-md-4">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title"><%= "#{pluralize(@credit_card.size, 'Credit Card')} " %><%= link_to "(all)", list_accounts_path %></h3>
        </div>
        <div class="panel-body">
          <table class="table table-striped">
            <tbody>
              <% @credit_card.each do |credit_card| %>
                <% if credit_card.status == 'Open' %>
                  <tr>
                    <td><%= "#{credit_card.name} #{credit_card.last4} | #{number_to_currency(credit_card.balance)}" %></td>
                  </tr>
                <% end %>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  <% end %>

  <% if @student_loan.size > 0 %>
    <div class="col-md-4">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title"><%= "#{pluralize(@student_loan.size, 'Student Loan')} " %><%= link_to "(all)", list_accounts_path %></h3>
        </div>
        <div class="panel-body">
          <table class="table table-striped">
            <tbody>
              <% @student_loan.each do |student_loan| %>
                <% if student_loan.status == 'Open' %>
                  <tr>
                    <td><%= "#{student_loan.name} #{student_loan.last4} | #{number_to_currency(student_loan.balance)}" %></td>
                  </tr>
                <% end %>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  <% end %>

  <% if @personal_loan.size > 0 %>
    <div class="col-md-4">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title"><%= "#{pluralize(@personal_loan.size, 'Personal Loan')} " %><%= link_to "(all)", list_accounts_path %></h3>
        </div>
        <div class="panel-body">
          <table class="table table-striped">
            <tbody>
              <% @personal_loan.each do |personal_loan| %>
                <% if personal_loan.status == 'Open' %>
                  <tr>
                    <td><%= "#{personal_loan.name} #{personal_loan.last4} | #{number_to_currency(personal_loan.balance)}" %></td>
                  </tr>
                <% end %>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  <% end %>

  <% if @other_liability.size > 0 %>
    <div class="col-md-4">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title"><%= "#{pluralize(@other_liability.size, 'Other Liability')} " %><%= link_to "(all)", list_accounts_path %></h3>
        </div>
        <div class="panel-body">
          <table class="table table-striped">
            <tbody>
              <% @other_liability.each do |other_liability| %>
                <% if other_liability.status == 'Open' %>
                  <tr>
                    <td><%= "#{other_liability.name} #{other_liability.last4} | #{number_to_currency(other_liability.balance)}" %></td>
                  </tr>
                <% end %>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  <% end %>

</div>