<p id="notice"><%= notice %></p>

<h1>Listing Accounts</h1>

<table class="visible-sm-block visible-md-block visible-lg-block table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Status</th>
      <th>Balance</th>
    </tr>
  </thead>

  <tbody>
    <% @accounts.each do |account| %>
      <tr>
        <td><%= "#{account.name} #{account.last4} (#{account.type})" %></td>
        <td><%= account.status %></td>
        <td><%= number_to_currency(account.balance) %></td>
        <td><%= link_to 'Show', account_path(account) %></td>
        <td><%= link_to 'Edit', edit_account_path(account) %></td>
        <td><%= link_to 'Destroy', account_path(account), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<% @accounts.each_with_index do |account, i| %>
  <table class="visible-xs-block table table-striped">
  <tbody>
    <tr><td>Account</td><td><%= "#{account.name} #{account.last4} (#{account.type})" %></td></tr>
    <tr><td>Status</td><td><%= account.status %></td></tr>
    <tr><td>Balance</td><td><%= number_to_currency(account.balance) %></td></tr>
    <tr><td><%= link_to 'Show', account_path(account) %></td></tr>
    <tr><td><%= link_to 'Edit', edit_account_path(account) %></td></tr>
    <tr><td><%= link_to 'Destroy', account_path(account), method: :delete, data: { confirm: 'Are you sure?' } %></td></tr>
  </tbody>
  </table>
<% end %>

<br>

<%= link_to 'New Account', new_account_path %>
