<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-md-6">
    <div class="panel panel-primary">
      <div class="panel-heading">All Assets</div>
      <div class="panel-body">

        <div class="visible-sm-block visible-md-block visible-lg-block">
          <table class="table table-striped table-hover">
            <thead>
              <tr>
                <th>Type</th>
                <th>Name</th>
                <th>Status</th>
                <th>Balance</th>
              </tr>
            </thead>

            <tbody>
              <% Asset.account_type_groups.each do |group| %>
                <%= render partial: 'account_type_group', collection: group.for_user(current_user), as: :account %>
                <% if group.exists?(user_id: current_user.id) %>
                  <tr style="background-color: gray;"><td></td><td><%= group %> Total: </td><td></td><td><%= number_to_currency(group.total_balance_for_account_type(current_user)) %>
                  </td></tr>
                <% end %>
              <% end %>
            </tbody>
          </table>
        </div>

<!-- Mobile -->
          <div class="row visible-xs-block">
            <table class="table table-striped table-hover">
              <tbody>
                <% Asset.account_type_groups.each do |group| %>
                  <%= render partial: 'account_type_group_mobile', collection: group.for_user(current_user), as: :account %>
                  <% if group.exists?(user_id: current_user.id) %>

                    <tr style="background-color: gray;"><td><%= group %> Total: </td><td><%= number_to_currency(group.total_balance_for_account_type(current_user)) %></td></tr>

                  <% end %>
                <% end %>
              </tbody>
            </table>
          </div>
<!-- End mobile -->

      </div>
      <div class="panel-footer clearfix">
        <div class="pull-right">
          <Strong>Total Assets <%= number_to_currency(Account.assets(current_user)) %></Strong>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="panel panel-primary">
      <div class="panel-heading">All Liabilities</div>
      <div class="panel-body">

        <div class="visible-sm-block visible-md-block visible-lg-block">
          <table class="table table-striped table-hover">
            <thead>
              <tr>
                <th>Type</th>
                <th>Name</th>
                <th>Status</th>
                <th>Balance</th>
              </tr>
            </thead>

            <tbody>
              <% Liability.account_type_groups.each do |group| %>
                <%= render partial: 'account_type_group', collection: group.for_user(current_user), as: :account %>
                <% if group.exists?(user_id: current_user.id) %>
                  <tr style="background-color: gray;"><td></td><td><%= group %> Total: </td><td></td><td><%= number_to_currency(group.total_balance_for_account_type(current_user)) %></td></tr>
                <% end %>
              <% end %>
            </tbody>
          </table>
        </div>

<!-- Mobile -->
          <div class="row visible-xs-block">
            <table class="table table-striped table-hover">
              <tbody>
                <% Liability.account_type_groups.each do |group| %>
                  <%= render partial: 'account_type_group_mobile', collection: group.for_user(current_user), as: :account %>
                  <% if group.exists?(user_id: current_user.id) %>

                    <tr style="background-color: gray;"><td><%= group %> Total: </td><td><%= number_to_currency(group.total_balance_for_account_type(current_user)) %></td></tr>

                  <% end %>
                <% end %>
              </tbody>
            </table>
          </div>
<!-- End mobile -->

      </div>
      <div class="panel-footer clearfix">
        <div class="pull-right">
          <Strong>Total Liabilities <%= number_to_currency(Account.liabilities(current_user)) %></Strong>
        </div>
      </div>
    </div>
  </div>
</div>
