<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-md-6">
    <div class="panel panel-primary">
      <div class="panel-heading">All Assets</div>
      <div class="panel-body">

        <table class="table table-striped table-hover">
          <thead>
            <tr>
              <th>Type</th>
              <th>Name</th>
              <th>Status</th>
              <th>Balance</th>
            </tr>
          </thead>

          <tbody>
            <% @assets_list.each do |account| %>
              <tr>
                <td><%= account.type %></td>
                <td><%= link_to "#{account.name} #{account.last4}", account_transactions_path(account_id: account.id) %></td>
                <td><%= account.status %></td>
                <td><%= number_to_currency(account.balance) %></td>
              </tr>
            <% end %>
          </tbody>
        </table>

      </div>
      <div class="panel-footer clearfix">
        <div class="pull-right">
          <Strong>Subtotal Assets <%= number_to_currency(@assets_total) %></Strong>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="panel panel-primary">
      <div class="panel-heading">All Liabilities</div>
      <div class="panel-body">

        <table class="table table-striped table-hover">
          <thead>
            <tr>
              <th>Type</th>
              <th>Name</th>
              <th>Status</th>
              <th>Balance</th>
            </tr>
          </thead>

          <tbody>
            <% Liability.account_type_groups.each do |group| %>
              <%= render partial: 'account_type_group', collection: group.all, as: :account %>
              <% if group.exists? %>
                <tr style="background-color: gray;"><td></td><td></td><td></td><td>Total: <%= number_to_currency(group.total) %></td></tr>
              <% end %>
            <% end %>
          </tbody>
        </table>

      </div>
      <div class="panel-footer clearfix">
        <div class="pull-right">
          <Strong>Subtotal Liabilities <%= number_to_currency(@liabilities_total) %></Strong>
        </div>
      </div>
    </div>
  </div>
</div>



<!-- <div class="row">  Assets -->
  <%#= render 'accounts', accounts: @checkings, account_name: "Checking" %>
  <%#= render 'accounts', accounts: @savings, account_name: "Saving" %>
  <%#= render 'accounts', accounts: @escrows, account_name: "Escrow" %>
  <%#= render 'accounts', accounts: @cashs, account_name: "Cash" %>
  <%#= render 'accounts', accounts: @other_assets, account_name: "Other Asset" %>
<!-- </div> -->

<!-- <div class="row"> Liabilities -->
  <%#= render 'accounts', accounts: @mortgage, account_name: "Mortgage (fixed)" %>
  <%#= render 'accounts', accounts: @credit_cards, account_name: "Credit Card" %>
  <%#= render 'accounts', accounts: @student_loans, account_name: "Student Loan" %>
  <%#= render 'accounts', accounts: @personal_loans, account_name: "Personal Loan" %>
  <%#= render 'accounts', accounts: @other_liabilitys, account_name: "Other Liability" %>
<!-- </div> -->


<br>

<%= link_to 'New Account', new_account_path %>
