<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @account.name %>
</p>

<p>
  <strong>Type:</strong>
  <%= @account.type %>
</p>

<p>
  <strong>Last4:</strong>
  <%= @account.last4 %>
</p>

<p>
  <strong>Status:</strong>
  <%= @account.status %>
</p>

<p>
  <strong>Favorite:</strong>
  <%= @account.favorite ? 'Yes' : 'No' %>
</p>

<p>
  <strong>Balance:</strong>
  <%= number_to_currency(@account.balance) %>
</p>

<%= link_to 'Edit', edit_account_path(@account) %> |
<%= link_to 'Destroy', account_path(@account), method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to 'Go To Transactions', account_transactions_path(@account) %>
